/* Style pro Companies.tsx component */
.companies {
  -webkit-box-shadow: inset 0px -68px 24px -18px rgba(239, 229, 229, 1);
  -moz-box-shadow: inset 0px -68px 24px -18px rgba(239, 229, 229, 1);
  box-shadow: inset 0px -68px 24px -18px rgba(239, 229, 229, 1);
}
